<%= form_for @remark, html: { enctype: "multipart/form-data", "data-controller" => "image-uploader" } do |f| %>
  <div class="my-4">
    <%=
      f.text_area :content,
        placeholder: "Say something quaint today",
        rows: 4,
        class: "w-full rounded border block resize-none dark:bg-gray-800"
    %>
  </div>
  <%= f.fields_for :photos do |p| %>
    <%= p.hidden_field :image, value: p.object.cached_image_data %>
    <%= p.file_field :image %>
    <%= p.check_box :_destroy unless p.object.new_record? %>
  <% end %>
  <div class="my-4">
    <%=
      file_field_tag nil,
        multiple: true,
        accept: "image/png,image/webp,image/jpeg,image/heic,image/heif",
        class: "inline-block file:mr-4 file:px-4 file:py-2 file:rounded file:border-0 file:font-medium file:bg-gray-100 file:text-gray-800 file:cursor-pointer file:dark:bg-gray-700 file:dark:text-gray-100",
        data: {image_uploader_target: "input"}
      %>
      <div data-image-uploader-target="container"></div>
      <%=
        heroicon "photograph",
          variant: :outline,
          options: {
            class: "animate-pulse m-auto absolute left-0 right-0 top-0 bottom-0 text-gray-200 dark:text-gray-600 hidden block h-24 w-24 inline align-text-top",
            "data-image-uploader-target" => "placeholderIcon"
          },
          path_options: { stroke_width: 2 }
      %>
  </div>
  <%=
    f.submit "Send it",
      data: { "image-uploader-target" => "submit", "disable-with" => "Please wait..." },
      class: "disabled:cursor-default dark:disabled:bg-lime-800 cursor-pointer disabled:bg-lime-100 bg-lime-600 text-white dark:disabled:text-gray-400 disabled:text-stone-400 px-4 py-2 rounded font-medium"
  %>
<% end %>
