<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>
      if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.documentElement.classList.add("dark")
      } else {
        document.documentElement.classList.remove("dark")
      }
    </script>
    <%= social_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.svg" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-gray-800 dark:bg-gray-900 dark:text-gray-100">
    <main>
      <div class="container mx-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
